A PDB file containing reference coordinates. 
If constraints are enabled and 'constraints-file' is undefined, the value of
'coordinates' will be used, and must be a PDB file.

Used in conjunction with 'constraints-selection' to determine which atoms 
will be subject to constraints.

